<div>
    <h2 translate="backendApp.province.home.title">Provinces</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="province.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="backendApp.province.home.createLabel">Create new Province
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span translate="backendApp.province.code">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="backendApp.province.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="backendApp.province.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="province in provinces track by province.id">
                    <td><a ui-sref="province.detail({id:province.id})">{{province.id}}</a></td>
                    <td>{{province.code}}</td>
                    <td>{{province.name}}</td>
                    <td>{{province.description}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="province.detail({id:province.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="province.edit({id:province.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="province.delete({id:province.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
