
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myProvinceLabel" translate="backendApp.province.home.createOrEditLabel">Create or edit a Province</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="province.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="backendApp.province.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="province.code"
                    required ng-minlength="2" ng-maxlength="16" />
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.code.$error.minlength" translate="entity.validation.minlength" translate-value-min="2">
                    This field is required to be at least 2 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.code.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="16">
                    This field cannot be longer than 16 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="backendApp.province.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="province.name"
                     />
        </div>
        <div class="form-group">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label class="control-label" translate="backendApp.province.description" for="field_description">Description</label>
                        <textarea class="form-control" name="description" id="field_description" ng-model="province.description" rows="6"></textarea>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label class="control-label" translate="global.form.preview">Preview</label>
                        <span class="form-control-static" marked="province.description"></span>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="form-group" ngf-drop ngf-change="setImage($file, province)" ngf-pattern="'image/*'">
            <label class="control-label" translate="backendApp.province.image" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + province.image.contentType + ';base64,' + province.image.content}}" style="max-height: 100px;" ng-if="province.image.contentType"/>
                <div class="help-block clearfix">
                    <span class="pull-left">{{province.image.contentType}} {{byteSize(province.image.content)}}</span>
                    <button ng-click="clearImage(province);"
                            ng-if="province.image.contentType"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setImage($file, province)" accept="image/*" translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="province.image.content"
                     />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="province.image.contentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
